{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>Traveler Profile</h2>
    <hr>

    <h4>Basic Information</h4>
    <p><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>

    <hr>

    <h4>Personal Details</h4>
    <p><strong>Date of Birth:</strong> {{ user.traveler_profile.date_of_birth }}</p>
    <p><strong>Phone Number:</strong> {{ user.traveler_profile.phone_number }}</p>
    <p><strong>Gender:</strong> {{ user.traveler_profile.get_gender_display }}</p>
    <p><strong>Nationality:</strong> {{ user.traveler_profile.nationality }}</p>

    <hr>

    <h4>Passport Information</h4>
    <p><strong>Passport Number:</strong> {{ user.traveler_profile.passport_number }}</p>
    <p><strong>Passport Expiry Date:</strong> {{ user.traveler_profile.passport_expiry_date }}</p>

</div>
{% endblock %}
